streamlit==1.0.0

datasets~=1.6.2
requests~=2.25.1
transformers~=4.6.1
torch~=1.9.0
pytest~=6.2.5
black~=21.9b0
pylint~=2.11.1
rouge~=1.0.1
pyarrow~=4.0.0
PyYAML~=5.4.1
dill~=0.3.3
numpy~=1.20.3
regex~=2021.4.4
tqdm~=4.49.0
filelock~=3.0.12
fsspec~=2021.5.0
argparse~=1.4.0
pandas~=1.2.4
packaging~=20.9
xxhash~=2.0.2
multiprocess~=0.70.11.1
scikit-learn~=1.0.1
scipy~=1.7.2
sacremoses~=0.0.45
nltk~=3.6.2
six~=1.16.0
lxml~=4.6.4
conllu~=4.4.1
setuptools~=57.4.0